/* FILEPATH: /g:/Coding/CodeSite/CodeSite/WebsiteFront/Style.css */

/* default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* dark background color */
body {
    background-color: #676f9d;
    color: #fff;
}

/* font styles */
button {
    background-color: #f9b17a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: 2px solid #f9b17a; 
}

button:hover {
    background-color: #555;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* link styles */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* heading styles */
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: bold;
}

/* paragraph styles */
p {
    line-height: 1.5;
}

/* Bttton styles */
button {
    background-color: #f9b17a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
    z-index: -1;